<div class="first m-2">
    <button type="button" class="btn btn-secondary " (click)="back()">Back</button>
    <button type="button" class="btn btn-success ms-4" [routerLink]="[ '/', users.id, 'posts']">Post</button><br><br>

    <h3>user</h3>
    <div>
        <div>
            <b> name:</b> {{users.name}}</div>
        <div>
            <b> username: </b>{{users.username}}</div>
        <div>
            <b> email:</b> {{users.email}}</div>

        <div>
            <b> address:</b> <br>
            <b> street:</b> {{users.address.street}}</div>
        <div>
            <b> suite:</b> {{users.address.suite}}</div>
        <div>
            <b> city: </b>{{users.address.city}}</div>
        <div>
            <b> zipcode: </b>{{users.address.zipcode}}</div>
        <div>
            <b> geo:</b> <br>
            <b> lat:</b> {{users.address.geo.lat}}</div>
        <div>
            <b> lng: </b>{{users.address.geo.lng}}</div>
        <div>
            <b> phone:</b> {{users.phone}}</div>
        <div>
            <b> website:</b> {{users.website}}</div>
        <div>
            <b> company: </b><br>
            <b>name: </b>{{users.company.name}}</div>
        <div>
            <b> catchPhrase:</b> {{users.company.catchPhrase}}</div>
        <div>
            <b> bs: </b>{{users.company.bs}}</div>
    </div><br>
</div>